{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 2,
    "printWidth": 120,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always"
}
