<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>obibok</title>
    <link rel="shortcut icon" type="image/jpg" href="assets/images/favicon/favicon.jpg" />
  </head>
  <body>
    <div id="AppContainer"></div>

    <script async>
      WebFontConfig = {
        google: {
          families: ['Work Sans:500,700', 'Zilla Slab:600,600i,700']
        }
      };

      (function(d) {
        var wf = d.createElement('script'),
          s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </body>
</html>
